@import "../../../styles/variables.css";

.post-items {
  margin-top: 20px;
}

.post-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.post-item {
  width: 100%;
  margin-bottom: 20px;
}
