{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"],
        "node": "current"
      }
    }],
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["react-css-modules", {
      "generateScopedName": "[name]__[local]___[hash:base64:5]"
    }]
  ]
}
