.profile-page {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    header {
        position: relative;
        width: 100%;
        overflow: hidden;
        h1 {
            color: #666;
            font-size: 20px;
            font-weight: normal;
        }
        .content {
            position: relative;
            z-index: 2;
            padding: 20px;
        }
    }
    .profile-detail {
        padding: 20px;
        .meta {
            display: flex;
        }
        .avatar {
            width: 100px;
            height: 100px;
            margin-right: 20px;
            border-radius: 100%;
            overflow: hidden;
            border: 1px solid #eee;
        }
        .info {
            .field {
                margin-top: 5px;
                display: flex;
                &.description {
                    margin-top: 20px;
                    color: #666;
                    line-height: 1.5em;
                }
            }
            .name {
                width: 80px;
            }
            .value {
            }
        }
    }
}